.Game {
  display: block;
  margin: 0;
  width: 100%;
  height: auto;
  background-color: #222;
}




.Game__field {
  fill: #666;
}




.Game__ball {
  fill: #fff;
}




.Game__trajectory {
  stroke: #fff;
  stroke-width: 10;
  stroke-dasharray: 10 100;
  opacity: 0.1;
}



.Game__player > circle {
  fill: red;
}
.Game__player > circle + circle {
  fill: #fff;
}




.Game__playerHitArea {
  opacity: 0.2;
}




.Game__paddle {
  fill: none;
  stroke: #fff;
  stroke-width: 10;
  /* stroke-dasharray: 4 4; */
}

.Game__paddle > circle {
  transform: rotate(44deg);
}




.Game__paddleHitArea {
  fill: #fff;
  opacity: 0.1;
}



.Game__player--1 > circle {
  fill: blue;
}
